body{
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 1) 67%, hsla(266, 75%, 55%, 1) 100%);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    cursor: default;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-container{
    margin-left: 4%;
    font-size: 25px;
    cursor: default;
}

.nav-container{
    word-spacing: 100px;
    margin-left: 20%;
    margin-right: 7%;
    justify-content: space-around;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #66347F;
    transition-duration: 0.5s;
    text-shadow: 0 0 25px white; 
}

hr{
    border-color: #917FB3;
    margin-left: 3%;
    margin-right: 3%;
}

.feedback-container{
    display: flex;
    align-items: center;
    text-align: center;
}

.feedback-desc{
    flex-grow: 7;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 19px;
    align-items: center;
}

.feedback-text{
    margin-top: 2%;
    text-align: center;
}

textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
    width: 50%;
    background-color: black;
}

.button-container{
    display: flex;
    align-items: center;
    text-align: center;
}

input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #66347F;
    color: white;
}

.button{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    margin-bottom: 3.7%;
}

input:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    text-shadow: 0 0 25px white; 
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.footer-item{
    font-size: 15px;
    font-style: italic;
}